Package: com.tweakbattles.chrysalis
Name: Chrysalis
Depends: mobilesubstrate, ws.hbang.common (>= 1.6)
Version: 1.1
Architecture: iphoneos-arm
Description: A modern, gesture based app switcher
Maintainer: Ben & Carlos & Kirb & Veerklempt
Author: Ben & Carlos & Kirb & Veerklempt
Section: Tweaks
