<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.tweakbattles.chrysalis</string>
			<key>key</key>
			<string>DarkMode</string>
			<key>label</key>
			<string>Dark Mode</string>
			<key>icon</key>
			<string>darkmode.png</string>
			<key>PostNotification</key>
			<string>com.tweakbattles.chrysalis/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.tweakbattles.chrysalis</string>
			<key>key</key>
			<string>QuitAppsButton</string>
			<key>label</key>
			<string>Quit Apps Button</string>
			<key>icon</key>
			<string>kill.png</string>
			<key>PostNotification</key>
			<string>com.tweakbattles.chrysalis/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.tweakbattles.chrysalis</string>
			<key>key</key>
			<string>HomeScreenButton</string>
			<key>label</key>
			<string>Home Screen Button</string>
			<key>icon</key>
			<string>home.png</string>
			<key>PostNotification</key>
			<string>com.tweakbattles.chrysalis/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>Advanced</string>
</dict>
</plist>
