<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>height</key>
			<integer>100</integer>
			<key>icon</key>
			<string>headerImage.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.tweakbattles.chrysalis</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>icon</key>
			<string>enable.png</string>
			<key>PostNotification</key>
			<string>com.tweakbattles.chrysalis/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.tweakbattles.chrysalis</string>
			<key>key</key>
			<string>DarkMode</string>
			<key>label</key>
			<string>Dark Mode</string>
			<key>icon</key>
			<string>darkmode.png</string>
			<key>PostNotification</key>
			<string>com.tweakbattles.chrysalis/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.tweakbattles.chrysalis</string>
			<key>key</key>
			<string>LeftHanded</string>
			<key>label</key>
			<string>Left-Handed</string>
			<key>icon</key>
			<string>position.png</string>
			<key>PostNotification</key>
			<string>com.tweakbattles.chrysalis/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>CSAdvancedListController</string>
			<key>icon</key>
			<string>advanced.png</string>
			<key>label</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>CSAboutListController</string>
			<key>icon</key>
			<string>makers.png</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>CSSupportListController</string>
			<key>icon</key>
			<string>support.png</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>height</key>
			<integer>100</integer>
			<key>icon</key>
			<string>footerLogo.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>Chrysalis</string>
</dict>
</plist>
